@font-face {
    font-family: 'swedbank_headlinebold';
    src: url('../fonts/swedbankheadline-bold-webfont.woff2') format('woff2'),
         url('../fonts/swedbankheadline-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'swedbank_sansmedium';
    src: url('../fonts/swedbanksans-medium-webfont.woff2') format('woff2'),
         url('../fonts/swedbanksans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}