$border: rgba(0,0,0,.12);

// This colour pallette is assumed. 
$dark-blue: #01446F;

$orange: #6A14AE;


$brown: #2F2424;

$border: #EBE7E2;


$white: #ffffff;
$black: #000000;

$gutter: 12px;

$extra-width: 1368px;

$desktop-menu-width: 20%;
$desktop-main-width: 80%;
