<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <head>
        <title>Renegade</title>
        
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
        
        <!-- Main CSS file -->
        <link rel="stylesheet" href="/css/styles.css">
        
        <!-- Animate CSS Library -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
        
        <!-- Font Awesome -->
        <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
        
        <!-- Tooltipster -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css">

        <!-- JQuery Datatables -->
        <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"> -->

    </head>
    <body>
        <header>
            <a href="/" class="logo"><img src="/img/Swedbank-Logotype@2x.png" alt="Swedbank Logo" /></a>
            <ul>
                <li>
                    <a href="#"><img src="/img/navigation/customer-service.svg" alt="Home" /><span>Customer Service<span></a>
                </li>
                <li><a href="#"><img src="/img/navigation/reminder.svg" alt="Home" /><span>Reminders</span></a></li>
                <li><a href="#"><img src="/img/navigation/user.svg" alt="Home" /><span>Name Namesson</span></a></li>
            </ul>
        </header>