<nav class="sb--nav">


    <a href="#" class="collapsed"  data-toggle="collapse" aria-expanded="false">
    	<img src="/img/navigation/home.svg" class="tooltip" title="Home" alt="Home" />
    	<span>Home</span>
    </a>
    <a href="#" class="collapsed" data-toggle="collapse" aria-expanded="false">
    	<img src="/img/navigation/payments.svg" alt="Payments" class="tooltip" title="Payments" />
    	<span>Payments &amp; Transfers</span>
    </a>
    <a href="#" class="collapsed" data-toggle="collapse" aria-expanded="false">
    	<img src="/img/navigation/liquidity.svg" alt="Liquidity"  class="tooltip" title="Liquidity" />
    	<span>Liquidity</span>
	</a>
    <a href="#" class="collapsed" data-toggle="collapse" aria-expanded="false">
    	<img src="/img/navigation/fx-hollogram.svg" alt="FX Hologram" class="tooltip" title="FX Hologram" />
    	<span>FX Hologram</span>
    </a>
    <a href="#" class="collapsed" data-toggle="collapse" aria-expanded="false">
    	<img src="/img/navigation/marketplace.svg" alt="Marketplace" class="tooltip" title="Marketplace" />
    	<span>Marketplace</span>
    </a>
    <a href="#" class="collapsed" data-toggle="collapse" aria-expanded="false" >
    	<img src="/img/navigation/reports.svg" alt="Reports" class="tooltip" title="Reports" />
    	<span>Reports</span>
    </a>
    
    <a href="/" class="collapsed activated" data-toggle="dropdown-user-auth" aria-expanded="false">
    	<svg xmlns="http://www.w3.org/2000/svg" class="tooltip" title="User Authorisations" viewBox="0 0 16 17"><defs></defs><title>user-auth</title><g id="Symbols"><g id="Menu"><path id="Combined-Shape" class="cls-1" d="M8.38,5.85a6,6,0,0,0-3,1.74V0h3V5.85ZM.88,4.25h3V12h-3Zm12,2.17a6.26,6.26,0,0,0-3-.75V2.12h3Z"/><path class="cls-1" d="M6.7,14.34a4.08,4.08,0,0,1,0-6,4.68,4.68,0,0,1,6.36,0,4.07,4.07,0,0,1,.48,5.47l2.17,2-1.06,1-2.16-2A4.7,4.7,0,0,1,6.7,14.34Zm3.18-.17a2.92,2.92,0,0,0,3-2.84,2.92,2.92,0,0,0-3-2.83,2.92,2.92,0,0,0-3,2.83A2.92,2.92,0,0,0,9.88,14.17Z"/></g></g></svg>   	
    	<span>Users &amp; Authorisations</span>
    </a>

    <div id="dropdown-user-auth" class="submenu">
        <ul>
        	<li>
        		<a href="">All Users</a>
        	</li>
        	<li>
        		<a href="">Your details</a>
        	</li>
        	<li>
        		<a href="">Templates</a>
        	</li>
        	<li>
        		<a href="">Add Users</a>
        	</li>
        </ul>
    </div>


    <a href="#" class="collapsed" data-toggle="collapse" aria-expanded="false">
    	<img src="/img/navigation/help-advise.svg" alt="Help &amp; Advise" class="tooltip" title="Help & Advice" />
    	<span>Help &amp; Advice</span>
    </a>

</nav>