<% include ./partials/header %>
<% include ./partials/alerts %>

<main id="main" class="arx">

    <% include ./arx-header %>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="form">
                    <h3>Campaign preview</h3>
                    <p>Here's a preview of your campaign.</p>
                    <div class="facebook-preview"> 
                        
                    </div>
                    <br />
                    <div>
                        <a class="" href="#">Back</a>
                        <a class="right button" href="#">Continue</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
     <section class="footer">
        <div class="container">
            <div class="col-12">
                <h5>Footer</h5>
            </div>
        </div>
    </section>


<% include partials/footer %>