<% include ./partials/header %>
<% include ./partials/alerts %>

<main id="main" class="arx">

    <% include ./arx-header %>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                 <a class="switch-user" href="/arx-onboard-native">Return to customer sign in</a>
                <div class="form">
                    <h3>Purchase AdReach Express</h3>
                    <h5>Account Manager Email</h5>
                    <div class="form-row">
                        <input type="text" name="" placeholder="e.g. yourname@zoopla.co.uk" />
                        <a href="/arx-onboard-am-check">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

     <section class="footer">
        <div class="container">
            <div class="col-12">
                <h5>Footer</h5>
            </div>
        </div>
    </section>


<% include partials/footer %>