<% include ./partials/header %>
<% include ./partials/alerts %>

<main id="main" class="arx">

    <% include ./arx-header %>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="form">
                    <h3>Confirmation of purchase</h3>
                    <p>Complete your purchase of 'x' for 'x' length @ 'cost'.</p>
                    <sub>Zoopla is committed to security. We use secured datacenters with redundant power and internet connectivity. Zoopla employs commercially reasonable precautions to maintain the security of the system, including the use of industry standard encryption methods to prevent unauthorized access to customer documents and account information stored on our servers.</sub>
                    <textarea></textarea>
                    <div> 
                        <a class="" href="#">View the terms</a>
                        <a class="right" href="#">Your existing contract</a>
                    </div>
                    <br />
                    <div>
                        <a class="button right" href="#">Complete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
     <section class="footer">
        <div class="container">
            <div class="col-12">
                <h5>Footer</h5>
            </div>
        </div>
    </section>


<% include partials/footer %>