<% include ./partials/header %>
<% include ./partials/alerts %>

<main id="main" class="arx">

    <% include ./arx-header-welcome %>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="form">
                    <h3>Find the customer</h3>
                    <h5>Customer ID / Branch ID / Unique Identifier</h5>
                    <div class="form-row">
                        <input type="text" name="" placeholder="e.g. 123456789" />
                        <a class="button" href="/arx-onboard-am-customer-found">Locate</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

     <section class="footer">
        <div class="container">
            <div class="col-12">
                <h5>Footer</h5>
            </div>
        </div>
    </section>


<% include partials/footer %>