<% include ./partials/header %>
<% include ./partials/alerts %>

<main id="main" class="arx">

    <% include ./arx-header-welcome %>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="form">
                    <h3>Confirm customer details</h3>
                    <div class="form-row">
                        <select>
                            <option value="Jay's Estate Agency">Jay's Estate Agency</option>
                        </select>
                        <a class="button" href="/arx-onboard-am-customer-check">Change</a>
                    </div>
                    <br />
                    <div class="form-row">
                        <label>Name:</label>
                        <input type="text" name="" placeholder="Jay Hughes" />
                    </div>
                    <div class="form-row">
                        <label>Email:</label>
                        <input type="text" name="" placeholder="hello@jayhughes.co.uk" />
                    </div>
                    <div class="form-row">
                        <label>Telephone:</label>
                        <input type="text" name="" placeholder="074479277777" />
                    </div>
                    <br />
                    <div class="form-row">
                        <label>Package:</label>
                        <input type="text" name="" disabled placeholder="Jupix: 12 month" />
                    </div>
                    <div class="form-row">
                        <label>Customer Since:</label>
                        <input type="text" name="" disabled placeholder="21/08/2016" />
                    </div>
                    <div class="form-row">
                        <label>Account Manager:</label>
                        <input type="text" name="" disabled placeholder="Jay Hughes" />
                    </div>

                    <a class="button right" href="#">Continue</a>
                </div>
            </div>
        </div>
    </div>
    

     <section class="footer">
        <div class="container">
            <div class="col-12">
                <h5>Footer</h5>
            </div>
        </div>
    </section>


<% include partials/footer %>