<% include ./partials/header %>
<% include ./partials/alerts %>

<main id="main" class="arx">

    <div class="header">
        <div class="container">
            <div class="col-12">
                <h5>Zoopla</h5>
                <h5>AdReach</h5>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="form">
                    <h3>Purchase AdReach Express</h3>
                    <h5>We've sent you an email!</h5>
                    <p>We’ve sent an email to yourname@yourbranch.com please check your email for a link to continue.</p>
                </div>
            </div>
        </div>
    </div>
    

     <section class="footer">
        <div class="container">
            <div class="col-12">
                <h5>Footer</h5>
            </div>
        </div>
    </section>


<% include partials/footer %>