<% include ./partials/header %>
<% include ./partials/alerts %>

<main id="main" class="arx">
    
    <% include ./arx-header %>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                 <a class="switch-user" href="/arx-onboard-am">Account Manager Sign Up</a>
                <div class="form">
                    <h3>Purchase AdReach Express</h3>
                    <h5>Your details</h5>
                    <p>Right now you need to be an existing Zoopla customer with us to purchase AdReach Express.</p>
                    <div class="form-row">
                        <label>Please enter your email address associated with your Zoopla account.</label>
                        <input type="text" name="" placeholder="e.g. yourname@yourbranch.com" />
                        <a href="/arx-onboard-native-check">Locate my account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

     <section class="footer">
        <div class="container">
            <div class="col-12">
                <h5>Footer</h5>
            </div>
        </div>
    </section>


<% include partials/footer %>