<% include ./partials/header %>
<main id="main" class="login">
	<div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2">
				<h2><%= message %></h2>
				<a href="/">Return home</a>
			</div>
		</div>
	</div>
<% include ./partials/footer %>