<% include ./partials/header %>
<% include ./partials/alerts %>


<nav class="project--nav">
    <ul> 
        <li>
        	<h4>AdReach Express</h4>
        	<div class="project-block">
            	<a href="/project-1">Project 1</a>
            	<a href="#link">Project 2</a>
        	</div>
        </li>        
    </ul>

</nav>

<main id="main" class="home">

	


<% include partials/footer %>