<% include ./partials/header %>
<% include ./partials/alerts %>


<nav class="project--nav">
   
	<h4>AdReach Express</h4>
	<div class="project-block">
        <ul>
    	   <% include ./partials/nav %>
        </ul>
	</div>

</nav>

<main id="main" class="home">

	


<% include partials/footer %>