<% include ./partials/header %>
<% include ./partials/alerts %>
<% include ./partials/nav %>
<main id="main" class="home">

	<section class="intro">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h4>Users & Authorisations</h4>
				
					<table id="authorisations" class="display nowrap" style="width:100%">
				        <thead>
				            <tr>
				            	<th><input type="checkbox" name="selectAll" value="0"></th>
				                <th>Name</th>
				                <th>Personal ID</th>
				                <th>Company</th>
				                <th>Role</th>
				                <th>Template</th>
				                <th>Auth Expiry</th>
				                <th>Status</th>
				            </tr>
				        </thead>
				        <tbody>
				            <tr>
				            	<td><input type="checkbox" name="123456" value="123456"></td>
				                <td>Kip Collison</td>
				                <td>196402230-0016</td>
				                <td>Company Name</td>
				                <td>Local Admin</td>
				                <td>Template Name</td>
				                <td>2020/09/19</td>
				                <td>No</td>
				            </tr>
				             <tr>
				            	<td><input type="checkbox" name="123456" value="123456"></td>
				                <td>Miglena Tadic</td>
				                <td>196402230-0017</td>
				                <td>Company Name</td>
				                <td>Local Admin</td>
				                <td>Template Name</td>
				                <td>2020/09/19</td>
				                <td>No</td>
				            </tr>
				             <tr>
				            	<td><input type="checkbox" name="123456" value="123456"></td>
				                <td>Tongbang Jun-Seo</td>
				                <td>196402230-0018</td>
				                <td>Company Name</td>
				                <td>Local Admin</td>
				                <td>Template Name</td>
				                <td>2020/09/19</td>
				                <td>No</td>
				            </tr>
				             <tr>
				            	<td><input type="checkbox" name="123456" value="123456"></td>
				                <td>Leslee Moss</td>
				                <td>196402230-0019</td>
				                <td>Company Name</td>
				                <td>Local Admin</td>
				                <td>Template Name</td>
				                <td>2020/09/19</td>
				                <td>No</td>
				            </tr>
				             <tr>
				            	<td><input type="checkbox" name="123456" value="123456"></td>
				                <td>Jana Strassmann</td>
				                <td>196402230-0020</td>
				                <td>Company Name</td>
				                <td>Local Admin</td>
				                <td>Template Name</td>
				                <td>2020/09/19</td>
				                <td>No</td>
				            </tr>
				        </tbody>
				    </table>
			    </div>
			</div>
		</div>
	</section>
	


<% include partials/footer %>