<% include ./partials/header %>

<% include ./partials/alerts %>

<main id="main" class="login">

<section class="login">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 login-form">
                <img src="/img/zoopla_logo.svg" alt="Zoopla Logo" />
                <br />
                <br />
                <!-- <h3>Zooplux</h3> -->
                <p>A testing suite for Zoopla UX ideation and creative thinking.</p>

                <form action="/login" method="POST">
                    <div class="form-group">
                        <!-- <label>Email</label> -->
                        <input id="email" class="form-control" type="email" name="username" placeholder="john.smith@zoopla.co.uk" pattern=".+@zoopla.co.uk" title="Must be a swedbank.se email address" required>
                    </div>
                    <div class="form-group">
                        <!-- <label>Password</label> -->
                        <input class="form-control" type="password" name="password" placeholder="password">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
                    </div>
                    <div class="reset-register">
                        <a href="/forgot">Reset Password</a>
                        <hr />
                        <a href="/register">Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<% include ./partials/footer %>