<% include ./partials/header %>
<% include ./partials/alerts %>

<main id="main" class="login">

<section class="login">
	<div class="container">
	    <div class="row">
			<div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 login-form">
			<form method="post">
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
			    <button type="submit" class="btn btn-lg btn-primary btn-block">Reset</button>
			</form>
			</div>
		</div>
	</div>
</section>
<% include ./partials/footer %> 