<% include ../partials/header %>
<% include ../partials/alerts %>

<main id="main" class="arx">

    <% include ./arx-header-welcome %>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <ul class="breadcrumb">
                    <li class="highlight"><span></span>Targeting</li>
                    <li><span></span>Package</li>
                    <li><span></span>Builder</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="form">
                    <h3>Build Your Campaign</h3>
                    
                    <h5>Select Area</h5>
                    <div class="form-row">
                        <label>Post Code</label>
                        <input type="text" name="" placeholder="e.g. EN5" />
                    </div>
                    <br />
                    <img src="/img/targeting.png" src="targeting" style="width: 100%; margin: 2rem 0;" />

                    <h5>Smart Targeting</h5>
                    <p>We can switch your campaign targeting relative to where we think your campaign will have the most reach. Add more postcodes that your business covers and we’ll target post codes that have hte least subscription on our service. This gives your campaign the best chance of securing a relevant lead.</p>
                    
                    <div class="form-row">
                        <input type="text" name="" placeholder="W3" vale="W3" /><img src="/img/add-1.svg" alt="Add" />
                        <br />
                        <br />
                        <label></label>
                        <label>W5</label>
                        <label>W10</label>
                        <label>W14</label>
                    </div>

                    <a class="" href="/arx-onboard-am-customer-found">Back</a>
                    <a class="button right" href="/arx-onboard-campaign-package">Continue</a>
                </div>
            </div>
        </div>
    </div>
    

     <section class="footer">
        <div class="container">
            <div class="col-12">
                <h5>Footer</h5>
            </div>
        </div>
    </section>


<% include ../partials/footer %>