<% include ../partials/header %>
<% include ../partials/alerts %>

<main id="main" class="arx">

    <% include ./arx-header-welcome %>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="form">
                    <h3>Confirmation of purchase</h3>
                    <h5>Overview of your Adreach Express Campaign</h5>
                    <p>We’re going to create your campaign with Facebook, targeting EN5 for 6 months @ £400pm.</p>
                    <div style="text-align:center;">
                        <br/>
                        <br/>
                        <img src="/img/docusign.png" alt="docusign" />
                        <br/>
                        <br/>
                        <br/>
                        <div>
                            <a class="button" href="/arx-complete">Send the contract</a>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <h5>Terms &amp; Conditions</h5>
                    <textarea value="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis purus mi. Vestibulum pretium nunc nec eros laoreet, sed rutrum leo scelerisque. Aenean ullamcorper felis nec leo egestas, nec posuere neque sagittis. Aenean bibendum, odio id bibendum iaculis, tellus diam ornare sapien, sed tempus lacus augue eget turpis. Nullam sagittis quis elit a sodales. Nam venenatis blandit diam. In ac velit aliquet, vulputate libero et, gravida dolor. Quisque pellentesque ligula sed velit consectetur venenatis. Vestibulum pulvinar, erat ac dapibus faucibus, augue arcu tempor libero, sed ullamcorper metus enim sed massa. Nunc posuere at enim nec malesuada. Sed interdum pulvinar ornare. Sed vitae lorem a metus ultrices molestie. Curabitur ultrices massa est, quis suscipit sem semper a. Fusce fringilla nisl in magna blandit sodales. Aliquam auctor metus erat, non semper diam sollicitudin a.

                        Aenean ut malesuada erat. Nulla magna nunc, pretium id pretium et, pulvinar in turpis. Donec nec pellentesque erat, sit amet consequat dui. Maecenas facilisis hendrerit odio, a finibus enim. Nunc non lacinia est. Nullam a hendrerit augue, sit amet bibendum libero. Phasellus luctus quis est in varius. Nulla bibendum ligula non rhoncus efficitur. Donec consequat lorem enim, sed rhoncus mauris pharetra vitae. Praesent at pulvinar mauris, eu laoreet dui.
                        
                        Sed vitae nisl in nunc ultrices pellentesque et efficitur massa. Duis vel dolor bibendum, aliquet erat sed, pretium mi. Donec tellus ligula, faucibus sit amet suscipit et, vehicula non mi. Aliquam blandit erat eu lectus interdum, vel vulputate ante hendrerit. Phasellus mi orci, sollicitudin non tellus id, blandit tempor justo. Maecenas a arcu risus. Vivamus eget eleifend sem. Pellentesque nunc urna, vehicula quis augue ut, finibus tincidunt tortor. Fusce congue orci sed interdum egestas. Aliquam euismod ipsum quis risus ultrices vehicula. Vestibulum efficitur urna eget arcu cursus, at facilisis odio posuere. Fusce ultrices augue a turpis semper, id rutrum sapien pretium. Donec at aliquam enim.
                        
                        Maecenas vestibulum purus at blandit lacinia. Integer interdum, magna vitae dignissim sagittis, leo metus condimentum nisi, id scelerisque quam mi at eros. In sit amet turpis vehicula, sollicitudin mauris non, pharetra sapien. Vivamus tempor mauris at mauris varius auctor. Praesent non nisl sit amet nisl vehicula mattis. Donec diam erat, elementum quis placerat nec, faucibus quis neque. Nullam ullamcorper urna metus, vel rhoncus ante congue nec. Vivamus eu facilisis mi. Nullam euismod id risus et pretium. Nullam euismod ex non mauris maximus vehicula. Phasellus commodo metus a erat eleifend, ac maximus diam rhoncus. Phasellus eget nunc ante. Etiam sed mauris malesuada, rutrum lorem ut, posuere magna. Donec sed porttitor ligula. Ut neque odio, eleifend eu vulputate sed, viverra ut ante.
                        
                        Donec ullamcorper, ante sed euismod tempor, risus arcu maximus neque, sit amet gravida est turpis pharetra augue. Morbi nec ipsum sed enim suscipit euismod. Donec hendrerit dui nec risus pellentesque tempus. Aliquam at dictum justo. Sed porttitor augue quis ligula cursus, in porta eros malesuada. Sed euismod pharetra eros, non pulvinar tortor ultricies vel. Sed sed nisi et velit pretium tempor ac sit amet felis.</textarea>

                    <br />
                    
                </div>
            </div>
        </div>
    </div>
    
     <section class="footer">
        <div class="container">
            <div class="col-12">
                <h5>Footer</h5>
            </div>
        </div>
    </section>

<% include ../partials/footer %>