<% include ../partials/header %>
<% include ../partials/alerts %>

<main id="main" class="arx">

    <% include ./arx-header-welcome %>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <ul class="breadcrumb">
                    <li><span></span>Targeting</li>
                    <li><span></span>Package</li>
                    <li class="highlight"><span></span>Builder</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="form">
                    <h3>Build Your Campaign</h3>

                
                    <h5>Logo</h5>
                    <div class="form-row">
                        <div>
                            <img src="/img/customer-logo.png" />
                        </div>
                        <a class="button right" href="#">Change</a>
                    </div>
                    <br />
                    <h5>Property Image</h5>
                    <p>We think this is your best property image.</p>
                    <div class="form-row">
                        <div>
                            <img src="/img/prop-image.png" />
                        </div>
                        <a class="button right" href="#">Change</a>
                    </div>
                    <br />
                    
                    <h5>Preview</h5>
                    <p>Here's a preview of your campaign.</p>
                    <div class="facebook-preview"> 
                        
                    </div>

                    <a class="" href="/arx-onboard-campaign-package">Back</a>
                    <a class="button right" href="/arx-onboard-signing">Continue</a>
                </div>
            </div>
        </div>
    </div>
    

     <section class="footer">
        <div class="container">
            <div class="col-12">
                <h5>Footer</h5>
            </div>
        </div>
    </section>


<% include ../partials/footer %>