<% include ../partials/header %>
<% include ../partials/alerts %>

<main id="main" class="arx">

    <% include ./arx-header-welcome %>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <div class="form">
                    <h3>Complete</h3>
                    <p>Thank you for purchasing ARX. What happens next?</p>
                    <div>
                        <a class="button right" href="#">View your dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
     <section class="footer">
        <div class="container">
            <div class="col-12">
                <h5>Footer</h5>
            </div>
        </div>
    </section>

<% include ../partials/footer %>